/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'shopping-web';
  src: url("fonts/shopping-web.eot?19419818");
  src: url("fonts/shopping-web.eot?19419818#iefix") format("embedded-opentype"), url("fonts/shopping-web.woff2?19419818") format("woff2"), url("fonts/shopping-web.woff?19419818") format("woff"), url("fonts/shopping-web.ttf?19419818") format("truetype"), url("fonts/shopping-web.svg?19419818#shopping-web") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before {
  font-family: "shopping-web";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-basket:before {
  content: '\e800'; }

.icon-plus:before {
  content: '\e801'; }

.icon-star:before {
  content: '\e802'; }

.icon-twitter:before {
  content: '\e803'; }

.icon-facebook-squared:before {
  content: '\e804'; }

.icon-youtube:before {
  content: '\e805'; }

.icon-gplus:before {
  content: '\e806'; }

.icon-minus:before {
  content: '\e807'; }

html {
  font-size: 62.5%;
  height: 100%; }

* {
  box-sizing: border-box; }

p,
ul {
  margin: 0;
  padding: 0; }

a,
a:link,
a:hover,
a:active {
  color: #333;
  text-decoration: underline; }

a:hover {
  color: #666666;
  text-decoration: underline; }

body {
  height: 100%;
  font-family: "Source Sans Pro", Arial;
  font-weight: 400;
  color: #333; }

#content-wrapper {
  min-height: 100%;
  position: relative; }

.content-box {
  margin: 0 auto;
  max-width: 1200px; }

header {
  background-color: #fafafa;
  padding: 3rem 0; }
  header h1 {
    margin: 0;
    padding: 0 1.5%;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem; }
    @media (max-width: 425px) {
      header h1 {
        text-align: center; } }
  header a,
  header a:active,
  header a:link,
  header a:hover {
    text-decoration: none; }
  header .content-box {
    position: relative; }
  header .basket-status {
    position: absolute;
    right: 1rem;
    top: -1rem; }
  @media (max-width: 425px) {
    header {
      padding-top: 1rem;
      padding-bottom: 1rem; }
      header .basket-status {
        position: relative;
        display: block;
        top: auto;
        right: auto;
        margin: 0 auto; } }

main {
  padding-bottom: 10rem; }

.content-header {
  font-size: 2.5rem;
  line-height: 4rem;
  margin: 0;
  padding: 0 1.5%; }
  @media (max-width: 425px) {
    .content-header {
      text-align: center; } }

footer {
  background-color: #fafafa;
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 100%; }
  footer p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0 1.5%; }

.basket-status {
  display: inline-block;
  height: 64px;
  width: 80px;
  text-align: center;
  cursor: pointer; }
  .basket-status:hover {
    background-color: #fafafa;
    outline: 0.1rem solid #ccc; }
  .basket-status .icon-basket {
    display: inline-block;
    width: 80px;
    font-size: 64px;
    height: 64px;
    line-height: 64px;
    opacity: 0.1; }
  .basket-status .basket-total-items {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    line-height: 48px;
    width: 70px;
    font-size: 48px;
    text-shadow: 0 0 1px #666666; }

.button {
  border: 0.1rem solid #ccc;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 0.4rem 2rem;
  border-radius: 0.2rem;
  background-color: #dedede; }
  .button:hover {
    background-color: rgba(222, 222, 222, 0.8); }
  .button[disabled] {
    opacity: 0.75; }
    .button[disabled]:hover {
      background-color: #dedede;
      cursor: not-allowed; }
  .button + .button {
    margin-left: 1rem; }

.button-large {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1.4rem 3rem; }

.checkout-summary {
  margin: 2rem 1.5%;
  border: 0.1rem solid #ccc; }
  .checkout-summary .checkout-item {
    display: block;
    padding: 1rem 2rem; }
    .checkout-summary .checkout-item:after {
      content: "";
      display: table;
      clear: both; }
    .checkout-summary .checkout-item + .checkout-item {
      border-top: 0.1rem solid #ccc; }
  .checkout-summary .checkout-product {
    float: left;
    width: 72%; }
  .checkout-summary .checkout-amount {
    float: left;
    width: 28%;
    padding: 3rem 3rem;
    font-size: 0;
    text-align: center; }
    @media (max-width: 425px) {
      .checkout-summary .checkout-amount {
        padding: 1rem 3rem; } }
    .checkout-summary .checkout-amount .checkout-amount-increase,
    .checkout-summary .checkout-amount .checkout-amount-value,
    .checkout-summary .checkout-amount .checkout-amount-decrease {
      line-height: 4rem;
      width: 4rem;
      padding: 0;
      font-size: 1.6rem;
      text-align: center; }
      .checkout-summary .checkout-amount .checkout-amount-increase .icon:before,
      .checkout-summary .checkout-amount .checkout-amount-value .icon:before,
      .checkout-summary .checkout-amount .checkout-amount-decrease .icon:before {
        vertical-align: middle; }
    .checkout-summary .checkout-amount .checkout-amount-increase {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
      @media (max-width: 425px) {
        .checkout-summary .checkout-amount .checkout-amount-increase {
          border-radius: 0.2rem;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0; } }
    .checkout-summary .checkout-amount .checkout-amount-value {
      display: inline-block;
      border-top: 0.1rem solid #ccc;
      border-bottom: 0.1rem solid #ccc; }
      @media (max-width: 425px) {
        .checkout-summary .checkout-amount .checkout-amount-value {
          border: 0;
          border-left: 0.1rem solid #ccc;
          border-right: 0.1rem solid #ccc; } }
    .checkout-summary .checkout-amount .checkout-amount-decrease {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
      @media (max-width: 425px) {
        .checkout-summary .checkout-amount .checkout-amount-decrease {
          border-radius: 0.2rem;
          border-top-right-radius: 0;
          border-top-left-radius: 0; } }
  .checkout-summary .checkout-product-name {
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 600; }
  .checkout-summary .checkout-product-price {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 1rem; }
  .checkout-summary .checkout-product-description {
    line-height: 1.6rem;
    font-size: 1.3rem; }
  .checkout-summary .checkout-total-text {
    text-align: right;
    font-size: 3rem; }
    @media (max-width: 425px) {
      .checkout-summary .checkout-total-text {
        width: 50%; } }
  .checkout-summary .checkout-total-value {
    padding: 0;
    font-size: 3rem;
    font-weight: 700; }
    @media (max-width: 425px) {
      .checkout-summary .checkout-total-value {
        width: 50%; } }

.checkout-empty-summary {
  margin: 2rem 1.5%;
  border: 0.1rem solid #ccc;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  line-height: 1.8rem; }
  .checkout-empty-summary a {
    font-weight: 600; }

.checkout-form {
  margin-bottom: 2rem; }

form {
  padding: 0 1.5%; }

.form-row {
  margin-bottom: 1rem; }
  .form-row:after {
    content: "";
    display: table;
    clear: both; }
  .form-row .form-column {
    float: left;
    width: 250px;
    margin-right: 20px; }
    @media (max-width: 425px) {
      .form-row .form-column {
        width: 100%;
        float: none;
        margin-bottom: 1rem; } }
  .form-row label {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem; }
  .form-row textarea {
    display: block;
    resize: none; }
  .form-row input,
  .form-row textarea {
    width: 250px; }
    .form-row input.double-size,
    .form-row textarea.double-size {
      width: 520px; }
    @media (max-width: 425px) {
      .form-row input,
      .form-row textarea {
        width: 100%; }
        .form-row input.double-size,
        .form-row textarea.double-size {
          width: 100%; } }
  .form-row input,
  .form-row select,
  .form-row textarea {
    border: 0.1rem solid #ccc;
    border-radius: 0.2rem;
    padding: 0.4rem 2rem;
    font-size: 1.8rem;
    line-height: 3rem; }
    .form-row input:focus,
    .form-row select:focus,
    .form-row textarea:focus {
      outline: none;
      box-shadow: 0 0 6px #ccc; }

.buttonry {
  margin-top: 2rem;
  line-height: 4rem; }
  @media (max-width: 425px) {
    .buttonry {
      text-align: center; } }

.dettached-buttonry {
  margin-left: 1.5%;
  margin-right: 1.5%; }

.rating-list {
  display: inline-block; }
  .rating-list .rating-item {
    display: inline-block; }
  .rating-list .icon-star {
    color: #ffd700;
    font-size: 1.6rem; }
    .rating-list .icon-star:before {
      vertical-align: middle; }

#product-management {
  /* solve responsive design for <$breakpoint-mobile-large */
  table-layout: fixed;
  border-collapse: collapse;
  margin: 1rem 1.5%; }
  #product-management thead th {
    text-align: left;
    line-height: 2rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700; }
  #product-management tbody td {
    padding: 1rem;
    font-size: 1.3rem; }
  #product-management .odd-product {
    background-color: #dedede; }
  #product-management .name-column {
    width: 20%; }
  #product-management .price-column {
    width: 6%; }
  #product-management .description-column {
    width: 30%; }
  #product-management .rating-column {
    width: 6%; }
  #product-management .image-url-column {
    width: 28%; }
  #product-management .actions-column {
    width: 10%;
    line-height: 3rem; }
    @media (min-width: 769px) {
      #product-management .actions-column a + a {
        margin-left: 1rem; } }
  #product-management .empty-row td {
    line-height: 4rem; }

.checkout-summary {
  margin: 2rem 1.5%;
  border: 0.1rem solid #ccc; }
  .checkout-summary .checkout-item {
    display: block;
    padding: 1rem 2rem; }
    .checkout-summary .checkout-item:after {
      content: "";
      display: table;
      clear: both; }
    .checkout-summary .checkout-item + .checkout-item {
      border-top: 0.1rem solid #ccc; }
  .checkout-summary .checkout-product {
    float: left;
    width: 72%; }
  .checkout-summary .checkout-amount {
    float: left;
    width: 28%;
    padding: 3rem 3rem;
    font-size: 0;
    text-align: center; }
    @media (max-width: 425px) {
      .checkout-summary .checkout-amount {
        padding: 1rem 3rem; } }
    .checkout-summary .checkout-amount .checkout-amount-increase,
    .checkout-summary .checkout-amount .checkout-amount-value,
    .checkout-summary .checkout-amount .checkout-amount-decrease {
      line-height: 4rem;
      width: 4rem;
      padding: 0;
      font-size: 1.6rem;
      text-align: center; }
      .checkout-summary .checkout-amount .checkout-amount-increase .icon:before,
      .checkout-summary .checkout-amount .checkout-amount-value .icon:before,
      .checkout-summary .checkout-amount .checkout-amount-decrease .icon:before {
        vertical-align: middle; }
    .checkout-summary .checkout-amount .checkout-amount-increase {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
      @media (max-width: 425px) {
        .checkout-summary .checkout-amount .checkout-amount-increase {
          border-radius: 0.2rem;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0; } }
    .checkout-summary .checkout-amount .checkout-amount-value {
      display: inline-block;
      border-top: 0.1rem solid #ccc;
      border-bottom: 0.1rem solid #ccc; }
      @media (max-width: 425px) {
        .checkout-summary .checkout-amount .checkout-amount-value {
          border: 0;
          border-left: 0.1rem solid #ccc;
          border-right: 0.1rem solid #ccc; } }
    .checkout-summary .checkout-amount .checkout-amount-decrease {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
      @media (max-width: 425px) {
        .checkout-summary .checkout-amount .checkout-amount-decrease {
          border-radius: 0.2rem;
          border-top-right-radius: 0;
          border-top-left-radius: 0; } }
  .checkout-summary .checkout-product-name {
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 600; }
  .checkout-summary .checkout-product-price {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 1rem; }
  .checkout-summary .checkout-product-description {
    line-height: 1.6rem;
    font-size: 1.3rem; }
  .checkout-summary .checkout-total-text {
    text-align: right;
    font-size: 3rem; }
    @media (max-width: 425px) {
      .checkout-summary .checkout-total-text {
        width: 50%; } }
  .checkout-summary .checkout-total-value {
    padding: 0;
    font-size: 3rem;
    font-weight: 700; }
    @media (max-width: 425px) {
      .checkout-summary .checkout-total-value {
        width: 50%; } }

.checkout-empty-summary {
  margin: 2rem 1.5%;
  border: 0.1rem solid #ccc;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  line-height: 1.8rem; }
  .checkout-empty-summary a {
    font-weight: 600; }

.checkout-form {
  margin-bottom: 2rem; }

#product-catalogue {
  margin-bottom: 2rem; }
  #product-catalogue:after {
    content: "";
    display: table;
    clear: both; }
  #product-catalogue .product-wrapper {
    float: left;
    padding: 1rem 1.5%;
    width: 25%; }
  #product-catalogue .product {
    border: 1px solid #ccc;
    padding: 1rem 5%;
    text-align: center;
    position: relative;
    overflow: hidden; }
    #product-catalogue .product.is-new:after {
      position: absolute;
      top: 6px;
      right: -22px;
      content: 'new';
      background-color: #c00;
      color: #fff;
      width: 80px;
      height: 2rem;
      line-height: 2rem;
      font-weight: 600;
      font-size: 1.2rem;
      text-align: center;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg); }
  #product-catalogue .product-price-and-rating {
    max-width: 200px;
    margin: 0 auto; }
    #product-catalogue .product-price-and-rating:after {
      content: "";
      display: table;
      clear: both; }
  #product-catalogue .product-price {
    float: left;
    width: 50%;
    font-size: 2rem;
    font-weight: 600;
    text-align: left; }
  #product-catalogue .product-rating {
    float: left;
    width: 50%;
    text-align: right; }
    #product-catalogue .product-rating.low-rated {
      visibility: hidden; }
  #product-catalogue .product-name {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1rem; }
  #product-catalogue .product-description {
    text-align: left;
    max-width: 200px;
    margin: 1rem auto;
    font-size: 1.2rem; }
    @media (max-width: 768px) {
      #product-catalogue .product-description {
        max-width: 400px; } }
  #product-catalogue .product-basket-info {
    line-height: 2rem;
    visibility: hidden;
    color: #0c0;
    font-size: 1.3rem;
    margin-bottom: 1rem; }
  #product-catalogue .in-basket .product-basket-info {
    visibility: visible; }
  #product-catalogue .checkout-button {
    margin: 0 auto;
    display: block; }
    @media (min-width: 426px) {
      #product-catalogue .checkout-button {
        display: none; } }
  @media (max-width: 1024px) {
    #product-catalogue .product-wrapper {
      width: 33.33333%; } }
  @media (max-width: 768px) {
    #product-catalogue .product-wrapper {
      width: 50%; } }
  @media (max-width: 425px) {
    #product-catalogue .product-wrapper {
      float: none;
      width: 100%;
      max-width: 320px;
      margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
